body {
    font-family: Arial, sans-serif;
}

.header-card {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.header-card h1 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
}

.header-card p {
    font-size: 1rem;
    margin: 10px 0 0;
}

.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: rgb(64, 152, 93);
    padding-top: 20px;
}

.sidebar .nav-link {
    color: white;
}

.sidebar .nav-link:hover {
    background-color: #495057;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

.navbar-custom {
    background-color: rgb(64, 152, 93); /* Sama seperti sidebar */
    border-bottom: 2px solid #495057;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: white;
}

.navbar-custom .nav-link:hover {
    color: #d4d4d4;
}

.card {
    background-color: #495057;
    color: white;
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 10px;
}

.card i {
    font-size: 4rem;
    color: white;
}

.card-title {
    margin-top: 15px;
    font-size: 1.25rem;
    font-weight: bold;
}

.card:hover {
    background-color: #343a40;
 }